*.iml
.gradle
.idea
/local.properties
/.idea
*.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/sqllin-driver/build
/sqllin-dsl/build
/sqllin-processor/build
/sample/build
*.podspec
.kotlin