name: Build & Test

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:    
      - '*'

env:
  ORG_GRADLE_PROJECT_NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
  ORG_GRADLE_PROJECT_NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
  ORG_GRADLE_PROJECT_SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
  ORG_GRADLE_PROJECT_SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
  ORG_GRADLE_PROJECT_SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}

jobs:

  build-on-macos:
    runs-on: macos-13
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
    
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Cache Build Tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle.kts') }}
        
      - name: Build sqllin-driver
        run: ./gradlew :sqllin-driver:assemble -PonCICD
        
      - name: Run sqllin-driver macOS X64 Tests
        run: ./test_driver_macos.sh

      - name: Run sqllin-driver JVM Unit Tests on macOS X64
        run: ./test_driver_jvm.sh

      - name: Build sqllin-dsl
        run: ./gradlew :sqllin-dsl:assemble -PonCICD

      - name: Run sqllin-dsl macOS X64 Tests
        run: ./test_dsl_macos.sh

      - name: Run sqllin-dsl JVM Unit Tests on macOS X64
        run: ./test_dsl_jvm.sh

      - name: Gradle Cache
        uses: gradle/actions/setup-gradle@v3

      - name: AVD Cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-34

      - name: Create AVD and Generate Snapshot for Caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          profile: pixel_6
          emulator-build: 11698152
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run Android 14 Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          target: google_apis
          arch: x86_64
          profile: pixel_6
          emulator-build: 11698152
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./test_android.sh

      - name: Upload sqllin-driver Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-driver/build/reports
        if: failure()

      - name: Upload sqllin-dsl Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-dsl/build/reports
        if: failure()

  build-on-windows:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Cache Build Tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle.kts') }}

      - name: Build sqllin-driver
        run: ./gradlew :sqllin-driver:mingwX64MainKlibrary

      - name: Run sqllin-driver MinGW X64 Tests
        run: ./gradlew :sqllin-driver:cleanMingwX64Test && ./gradlew :sqllin-driver:mingwX64Test --stacktrace

      - name: Run sqllin-driver JVM Unit Tests on MinGW X64
        run: ./gradlew :sqllin-driver:cleanJvmTest && ./gradlew :sqllin-driver:jvmTest --stacktrace

      - name: Build sqllin-dsl
        run: ./gradlew :sqllin-dsl:mingwX64MainKlibrary

      - name: Run sqllin-dsl MinGW X64 Tests
        run: ./gradlew :sqllin-dsl:cleanMingwX64Test && ./gradlew :sqllin-dsl:mingwX64Test --stacktrace

      - name: Run sqllin-dsl JVM Unit Tests on MinGW X64
        run: ./gradlew :sqllin-dsl:cleanJvmTest && ./gradlew :sqllin-dsl:jvmTest --stacktrace

      - name: Upload sqllin-driver Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-driver/build/reports
        if: failure()

      - name: Upload sqllin-dsl Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-dsl/build/reports
        if: failure()

  build-on-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Cache Build Tooling
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.konan
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle.kts') }}

      - name: Build sqllin-driver
        run: ./gradlew :sqllin-driver:assemble -PonCICD

      - name: Run sqllin-driver Linux X64 Tests
        run: ./test_driver_linux.sh

      - name: Run sqllin-driver JVM Unit Tests on Linux X64
        run: ./test_driver_jvm.sh

      - name: Build sqllin-processor
        run: ./gradlew :sqllin-processor:assemble

      - name: Build sqllin-dsl
        run: ./gradlew :sqllin-dsl:assemble -PonCICD

      - name: Run sqllin-dsl Linux X64 Tests
        run: ./test_dsl_linux.sh

      - name: Run sqllin-dsl JVM Unit Tests on Linux X64
        run: ./test_dsl_jvm.sh

      - name: Gradle Cache
        uses: gradle/actions/setup-gradle@v3

      - name: AVD Cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-26

      - name: Create AVD and Generate Snapshot for Caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 26
          target: default
          arch: x86_64
          profile: pixel_2
          emulator-build: 11698152
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: echo "Generated AVD snapshot for caching."

      - name: Run Android 8 Instrumented Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 26
          target: default
          arch: x86_64
          profile: pixel_2
          emulator-build: 11698152
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./test_android.sh

      - name: Upload sqllin-driver Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-driver/build/reports
        if: failure()

      - name: Upload sqllin-dsl Reports
        uses: actions/upload-artifact@v4
        with:
          name: Test-Reports
          path: sqllin-dsl/build/reports
        if: failure()
